@using BulkeyBook.Models.DataAccess.Modul
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Payment

<code>

   

   

    <form method="post" asp-action="Privacy" >
        <input type="number" asp-for="amount" />
        <input type="text" asp-for="purpose" />
        <Button type="submit">Image Click</Button>
    </form>
</code>

@section Scripts{

    <script type="text/javascript">
        function uplode(abc) {

            window.location.href = "/Admin/Product/Privacy?id=1"

        }


    </script>


}